.meu_botao {
    background-color: #2563eb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 16px;
}



.caixa_resultado {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    display: none;
    text-align: center;
    margin: 20px auto 0 auto;
    width: 90%;
    
}
.caixa_input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    text-align: center;
    
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    font-family: 'Inter', sans-serif;
}
@media (max-width: 480px) {
    .card {
        padding:20px;
    }

}
.card {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

